.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.main-color {
  background-color: #e12d72;
}

.sec-color {
  background-color: #e9518b;
}

.third-color {
  background-color: #b93266;
}


.item-card:nth-child(odd) {
  background-color: #e12d72;
  border-bottom: 1px solid black !important;
}

.item-card:nth-child(even) {
  background-color: #fc5193;
  border-top: 1px solid black !important;
}

.form-select {
  background-color: #ec4c8a;
  box-shadow: none;
}

.form-select:focus {
  background-color: #ec4c8a;
  box-shadow: none;
}

option {
  background-color: #ec4c8a;
}

.paralel-container{
  perspective: 1000px; 
  /* height: 200px; 
  width: 200px;  */
  margin: 0 auto;
}

.paralel-item{
  /* height: 100%;
  width: 100%; */
  background-color: blue; /* Ajusta el color de fondo según tus necesidades */
  transform-style: preserve-3d; /* Mantiene la transformación en 3D para los hijos */
  /* transform: rotateY(45deg);  */
  transition: transform 1s ease;
}

.paralel-item:hover {
  transform: rotateY(-45deg); 
  transform: translateX(-50px)
}


.content {
  flex-grow: 1;
  padding-top: 20px;
}

.detail-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.check,
.check * {
  border: 1px solid white;
}
