/* red */

/* :root {
  --main-color: #e12d72;
  --sec-color: #e9518b;
  --third-color: #b93266;
  --forth-color: #5788E4;
} */

/* blue */
:root {
  --main-color: #5788e4;
  --sec-color: #4063a6;
  --third-color: #4369b3;
  --forth-color: #35548b;
}

.main-color {
  background-color: var(--main-color);
}

.sec-color {
  background-color: var(--sec-color);
}

.third-color {
  background-color: var(--third-color);
}

.forth-color {
  background-color: var(--third-color);
}

/* .item-card {
  background-color: var(--main-color);
} */

@media (min-width: 768px) {
  .item-card:nth-child(odd) {
    background-color: var(--main-color);
    border-bottom: 1px solid rgb(255, 255, 255) !important;
  }

  .item-card:nth-child(even) {
    background-color: var(--sec-color);
    border-top: 1px solid rgb(255, 255, 255) !important;
  }
}

@media (max-width: 768px) {
  .paralel-container button {
    background-color: var(--main-color);
  }

  .paralel-container button:nth-child(4n) {
    background-color: var(--sec-color);
  }

  .paralel-container button:nth-child(4n-3) {
    background-color: var(--sec-color);
  }
}

.form-select {
  background-color: var(--main-color);
  box-shadow: none;
}

.form-select:focus {
  background-color: var(--main-color);
  box-shadow: none;
}

option {
  background-color: var(--third-color);
}

.paralel-container {
  perspective: 1000px;
  margin: 0 auto;
}

.paralel-item {
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.paralel-item:hover {
  transform: rotateY(-45deg);
  transform: translateX(-50px);
}

.content {
  flex-grow: 1;
  padding-top: 20px;
}

.detail-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.check,
.check * {
  border: 1px solid white;
}
