.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
}

.content{
  flex-grow: 1;
  padding-top: 20px;  
}

.detail-container{
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.check,
.check *{
  border: 1px solid white;
}